@keyframes color {
    0%   { background: #4088ca; }
    20%  { background: #4088ca; }
    40%  { background: #6567e2; }
    60%  { background: #356adc; }
    80%  { background: #4088ca; }
    100% { background: #4088ca; }
    
  }

html {
    position: relative;
    height: 100%;
    font-family: 'Times New Roman', serif;
    font-size:10pt;
}

.header{
  background-color: #6c757d;
}

.row{
    background: #4088ca; 
    animation: color 9s infinite linear;
}

.row-newtask{
    background: #4088ca; 
    animation: color 9s infinite linear;
}

#container {
    height: 200px;
    width: 700px;
    background-color: #CFEEFF;
    margin: 0 auto;
    border: 5px solid black;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.navbar {
    overflow: hidden;
    background: #0dcaf0; 
    animation: color 9s infinite linear;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }

#navbar-bottom{
    background-color: white;
    color: black;
}

.music-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offcanvas-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*.btn-primary{
    background-color: white;
    color: pink;
}*/

#btn-lofi{
    padding: 0px;
    padding-top: 7px;
    background-color: white;
    color: black;
}

#btn-rnb{
    padding: 0px;
    padding-top: 7px;
    background-color: white;
    color: black;
}

#btn-pop{
    padding: 0px;
    padding-top: 7px;
    background-color: white;
    color: black;
}

.offcanvas-title{
    font-size: xx-large;
}
.todo-items {
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}

/*timers*/
.label {
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

#work {
    grid-area: 1 / 2 / 1 / 2;
}
#break {
    grid-area: 1 / 4 / 1 / 4;
}
#cycles {
    grid-area: 1 / 3 / 1 / 3;
}

.timer {
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 20px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

#counter {
    grid-area: 2 / 3 / 2 / 3;
    color: red;
}

#work-timer {
    grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
    grid-area: 2 / 4 / 2 / 4;
}

/*buttons*/

.btn {
    align-self: center;
    justify-self: center;

    width: 80px;
    height: 40px;

    font-size: 15px;
}

#start {
    grid-area: 3 / 2 / 3 / 2;
}

#reset {
    grid-area: 3 / 3 / 3 / 3;
}

#stop {
    grid-area: 3 / 4 / 3 / 4;
}